html {
  background-color: #ffa69e;
}

.auth-btn {
  background-color: #b8f2e6;
  border: 5px solid #aed9e0;
  border-radius: 10px;
  padding: 10px;
  color: #5e6472;
  margin: 25px 0 25px 0px;
  margin-left: 90%;
}

.avatarImg {
  border-radius: 50%;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 0;
  color: #5e6472;
  padding: 0px;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 20px;
  color: #5e6472;
  margin: 5px;
}

h3 {
  font-size: 25px;
  color: #5e6472;
  margin: 5px;
  text-align: center;
  padding-top: 25px;
}

p {
  font-size: 15px;
  color: #5e6472;
  text-align: center;
  font-weight: bold;
}
.center {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.player {
  margin: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  border: 5px solid #aed9e0;
  border-radius: 10px;
  flex-direction: column;
  background-color: #aed9e0;
  color: #faf3dd;
}

.bullets {
  justify-content: space-around;
  margin: 10px 0 25px 0;
}

.score {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: small;
  font-weight: bold;
  background-color: #b8f2e6;
  color: #5e6472;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #5e6472;
}

.round-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  cursor: pointer;
  background-color: #b8f2e6;
  color: #5e6472;
}

.round-btn:hover {
  background-color: #aed9e0;
}
